@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .label {
        @apply text-sm font-normal tracking-[0.12px] text-gray;
    }

    .value {
        @apply text-base font-medium leading-[14px] tracking-[0.14px] text-mid-green;
    }

    body {
        @apply font-mazz;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/fonts/MazzardM-Black.ttf');
    font-weight: 800;
    font-style: normal;
}
