@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .label {
        @apply text-gray font-normal text-sm tracking-[0.12px]
    }

    .value {
        @apply font-medium text-base text-mid-green leading-[14px] tracking-[0.14px];
    }

    body {
        @apply font-mazz;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}


@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mazz';
    src: url('assets/MazzardM-Black.ttf');
    font-weight: 800;
    font-style: normal;
}